{% extends 'base.html'%}

{% block content %}
<!doctype html>
<html lang="en">
<head>
  {% load staticfiles %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../../../favicon.ico">

  <title>My Blog</title>

  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
</head>

<body>

  <header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <div class="container">
                <h3> Du bist noch auf der suche nach einem Geschenk, Vor-/Nachspeise oder ähnlichem? <br/> dann schau dich doch hier einmal durch, vielleicht findest du ja etwas an dem du dich beteiligen kannst oder hast sogar selber eine Idee. </h3>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="album py-5 bg-light">

        <div class="row bt">
          <div class="col-12" onclick="window.location='{% url 'create' %}';" style="cursor: pointer;">
            <div class="card mb-4 box-shadow">
              <div class="card-body">
                <h3><span class="oi oi-plus"></span>   Du hast eine Idee für ein Geschenk, Nachspeise, Vorspeise oder Sonstiges? <br/> Teile deine Idee und finde Freunde, die dich unterstüzten. </h3>
              </div>
            </div>

          </div>
        </div>

          {% for product in products.all %}
          <div class="card mb-4 box-shadow">
            <div class="row pt-1">

              <div class="col-4" onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
                <img src="{{ product.image.url }}" class="img-fluid"/>
              </div>
              <div class="col-8"onclick="window.location='{% url 'detail' product.id %}';" style="cursor: pointer;">
                <div class ="row pt-1">
                  <h4>Wir sind schon Dabei: {{product.supporter}}</h4>
                </div>
                <h3>{{product.title}} </h3>
                <p> {{product.summary}} </p>
              </div>
            </div>
            <div class="container">
            <div class = "row pt-1">
              <a href="{% url 'detail' product.id %}"> <button class="btn btn-primary btn-large btn-block "> Beteiligen </button></a>
            </div>



          </div>

          </div>

        {% endfor %}
      </div>
      <!--> Hier endets mit den mitbring Feldern</!-->

    </main>

    <footer class="text-muted">
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
  </body>
  </html>

  {% endblock %}
